{% extends 'base.html' %} {% block title %} Login Page {% endblock %} {% block
content %}
<body class="text-center">
  <div class="container">
    <form method="POST" class="form-signin" style="color: white">
      {{ form.hidden_tag() }}
      <img
        class="m-4 img-fluid w-25"
        src="https://s1.ibtimes.com/sites/www.ibtimes.com/files/styles/embed/public/2019/02/13/apple-logo.jpg"
        alt=""
      />
      <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
      <br />
      {{ form.username.label() }} {{ form.username(class="form-control",
      placeholder="User Name") }} {{ form.password.label() }} {{
      form.password(class="form-control", placeholder="Password") }}

      <br />

      <div class="checkbox mb-3">
        <h6>Do not have an account?</h6>
        <a
          class="btn btn-sm btn-secondary"
          href="{{ url_for('register_page') }}"
          >Register</a
        >
      </div>

      {{ form.submit(class="btn btn-lg btn-primary") }}
    </form>
  </div>
</body>

{% endblock %}
