{% extends 'base.html' %} {% block title %} Registration Page {% endblock %} {%
block content %}
<body class="text-center">
  <div class="container">
    <form method="POST" class="form-register" style="color: #fff">
      {{ form.hidden_tag() }}
      <img
        class="m-4 img-fluid w-25"
        src="https://s1.ibtimes.com/sites/www.ibtimes.com/files/styles/embed/public/2019/02/13/apple-logo.jpg"
        alt="Logo"
      />
      <h1 class="h3 mb-3 font-weight-normal">Please Create your Account</h1>
      <br />
      {{form.username.label()}} {{form.username(class="form-control",
      placeholder='Enter your username')}} {{form.email.label()}}
      {{form.email(class="form-control", placeholder='Enter your email')}}
      {{form.password.label()}} {{form.password(class="form-control",
      placeholder='Enter your password')}} {{form.confirmPassword.label()}}
      {{form.confirmPassword(class="form-control", placeholder='Confirm your
      password')}}
      <br />

      <div class="checkbox mb-3">
        <h6>Already have an account?</h6>
        <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}"
          >Login</a
        >
      </div>
      {{ form.submit(class="btn btn-lg btn-primary") }}
    </form>
  </div>
</body>

{% endblock %}
